<section class="hero background-img-blog is-large">
<nav class="navbar is-transparent is-hidden-desktop">
    <div class="navbar-brand">
        <div class="navbar-burger burger" data-target="mobile-nav">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="mobile-nav" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <a class="navbar-item" href="/">
                    home
                </a>
            </div>
            <div class="navbar-item">
                <a class="navbar-item" href="/blog">
                    articles
                </a>
            </div>
            {% if user %}
                <div class="navbar-item">
                    <a class="navbar-item" href="/newPost">Publier</a>
                </div>
                <div class="navbar-item">
                    <a class="navbar-content" href="{{ '/manageArticles/' ~ user.id }}">Utilisateur : {{ user.firstname }} {{ user.name }} - {{ user.role}} 🟢</a>
                </div>
                <div class="navbar-item">
                    <a class="nav-item" href="/logout">Déconnexion 🔴</a>
                </div>
            {% else %}
                <div class="navbar-item">
                    <a class="navbar-item" href="/login">
                        Me connecter
                    </a>
                </div>
                <div class="navbar-item">
                    <a class="navbar-item" href="/register">
                        M'inscrire
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>
<div class="hero-body">
    <div class="container has-text-centered">
        <h1 class="subtitle">My Lifestyle</h1>
        <h2 class="title">My Blog</h2>
        <h1 class="subtitle profession">By Vincent ORRU</h1>
    </div>
</div>
<div class=" hero-foot ">
    <div class="hero-foot--wrapper">
        <div class="columns">
            <div class="column is-12 hero-menu-desktop has-text-centered">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/blog">Articles</a>
                    </li>
                    {% if user %}
                        <li>
                            <a href="/newPost">Publier</a>
                        </li>
                        <li>
                            <a href="{{ '/manageArticles/' ~ user.id }}">Utilisateur : {{ user.firstname }} {{ user.name }} - {{ user.role}} 🟢</a>
                        </li>
                        <li>
                            <a href="/logout">Déconnexion 🔴</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="/login" >Me connecter</a>
                        </li>
                        <li>
                            <a href="/register">M'inscrire</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
</section>