{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/blog.css">
{% endblock %}
{% block banner %}
    {% include "blog/headerBlog.html.twig" %}
{% endblock %}
{% block content %}
    <div class="columns body-columns">
        <div class="column is-half is-offset-one-quarter">
            {% for article in articles %}
                <div class="card">
                    <div class="header">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="https://source.unsplash.com/random/96x96" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">{{ article.firstname }} {{ article.name }}</p>
                                <p class="subtitle is-6">{{ article.title }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="{{ '../images/'~ article.image }}" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="level is-mobile">
                            <div class="level-left">
                                {% set tags = article.tag|split(";") %}
                                {% for tag in tags %}
                                <div class="level-item has-text-centered">
                                    <a href="">
                                        <i class="material-icons">{{ tag }}</i>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="content">
                            {{ article.content }}
                            <br>
                            <time datetime="2018-1-1">{{ article.date_published|date('d-m-Y H:i:s')}}</time>
                        </div>
                        <form action="{{ '/article/' ~ article.slug }}">
                            <button class="button">
                                <i class="material-icons">Voir Plus</i>
                            </button>
                        </form>
                    </div>
                </div>
            {% endfor %}
            <div class="card">
                <div class="header">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://source.unsplash.com/random/96x96" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Vincent ORRU</p>
                            <p class="subtitle is-6">article</p>
                        </div>
                    </div>
                </div>
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://source.unsplash.com/random/1280x960" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="level is-mobile">
                        <div class="level-left">
                            <div class="level-item has-text-centered">
                                <a href="">
                                    <i class="material-icons">favorite_border</i>
                                </a>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <a href="">
                                        <i class="material-icons">chat_bubble_outline</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content">
                        <p>
                            <strong>32 Likes</strong>
                        </p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                        <a>@bulmaio</a>.
                        <a href="#">#css</a>
                        <a href="#">#responsive</a>
                        <br>
                        <time datetime="2018-1-1">12:02 PM - 1 May 2018</time>
                    </div>
                    <form action="/article">
                        <button class="button">
                            <i class="material-icons">Voir Plus</i>
                        </button>
                    </form>
                </div>
            </div>


            <div class="card">
                <div class="header">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://source.unsplash.com/random/96x96" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Vincent ORRU</p>
                            <p class="subtitle is-6">article</p>
                        </div>
                    </div>
                </div>
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://source.unsplash.com/random/1280x960" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="level is-mobile">
                        <div class="level-left">
                            <div class="level-item has-text-centered">
                                <a href="">
                                    <i class="material-icons">favorite_border</i>
                                </a>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <a href="">
                                        <i class="material-icons">chat_bubble_outline</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content">
                        <p>
                            <strong>32 Likes</strong>
                        </p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                        <a>@bulmaio</a>.
                        <a href="#">#css</a>
                        <a href="#">#responsive</a>
                        <br>
                        <time datetime="2018-1-1">12:02 PM - 1 May 2018</time>
                    </div>
                    <form action="/article">
                        <button class="button">
                            <i class="material-icons">Voir Plus</i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://source.unsplash.com/random/96x96" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Vincent ORRU</p>
                            <p class="subtitle is-6">article</p>
                        </div>
                    </div>
                </div>
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://source.unsplash.com/random/1280x960" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="level is-mobile">
                        <div class="level-left">
                            <div class="level-item has-text-centered">
                                <a href="">
                                    <i class="material-icons">favorite_border</i>
                                </a>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <a href="">
                                        <i class="material-icons">chat_bubble_outline</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                        <a>@bulmaio</a>.
                        <a href="#">#css</a>
                        <a href="#">#responsive</a>
                        <br>
                        <time datetime="2018-1-1">12:02 PM - 1 May 2018</time>
                    </div>
                    <form action="/article">
                        <button class="button">
                            <i class="material-icons">Voir Plus</i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include 'blog/paginateArticles.html.twig' %}
{% endblock %}
