{% extends "/base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/blog.css">
{% endblock %}
{% block banner %}
    {% include "/blog/headerBlog.html.twig" %}
{% endblock %}
{% block content %}
    <h1 class="title has-text-centered">{{ title }}</h1>
    {% include "messageError.html.twig"%}
    <section class="hero">
        <div class="hero-body">
            <form class="container"  action="{{ '/updateArticle/' ~ article.slug }}" method="post" enctype="multipart/form-data">
                <label class="label" for="title">Titre</label>
                <input class="input is-normal" type="text" name="title" value="{{ article.title }}">
                <label class="label" for="tags">Tag</label>
                <input class="input is-normal" type="text" name="tags" value="{{ article.tag }}">
                <label class="label" for="image">Image</label>
                <input class=" is-normal" type="file" name="image" value="{{ article.image }}">
                <label class="label" for="content">Contenu</label>
                <textarea class="textarea" name="content" id="content" cols="30" rows="10" >{{ article.content }}</textarea>
                <button class="button hero-buttons" type="submit">Envoyer</button>
            </form>
            <a href="{{ '/article/' ~ article.slug }}" class="buttons">Voir l'article</a>
        </div>
    </section>
{% endblock %}
