{% extends "/base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/blog.css">
{% endblock %}
{% block banner %}
    {% include "/blog/headerBlog.html.twig" %}
{% endblock %}
{% block content %}
    {% include "/messageSuccess.html.twig" %}
    <div class="card">
        <div class="card">
            <div class="header">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            {% if article.picture is null %}
                                <img src="../images/users/uploaded/anonymous.jpg" alt="Placeholder image">
                            {% else %}
                                <img src="{{ '../images/'~ article.picture }}" alt="Placeholder image">
                            {% endif %}
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">{{ article.firstname }} {{ article.name }}</p>
                        <p class="subtitle is-6">{{ article.title }}</p>
                    </div>
                </div>
            </div>
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="{{ '../images/'~ article.image }}" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="level is-mobile">
                    <div class="level-left">
                        {% set tags = article.tag|split(";") %}
                        {% for tag in tags %}
                            <div class="level-item has-text-centered">
                                <a href="">
                                    <i class="material-icons">{{ tag }}</i>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="content">
                    {{ article.content }}
                    <br>
                    <time datetime="2018-1-1">{{ article.date_published|date('d-m-Y H:i:s') }}</time>
                </div>
            </div>
        </div>
        {% for comment in comments %}
            {% include "/article/commentShow/commentList.html.twig" %}
        {% endfor %}
        {% if user is not null %}
            {% include "/article/commentShow/commentForm.html.twig" %}
        {% endif %}
    </div>
{% endblock %}
